apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: phpns
data:
  nginx.conf: |
    server {
        listen 80;

        root /var/www/html;
        index index.php index.html;

        location / {
            try_files $uri $uri/ /index.php?$query_string;
        }

        location ~ \.php$ {
            fastcgi_pass php-container:9000;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
        }
    }
